<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <akka>
    <hocon>
      <![CDATA[          
        akka.actor.deployment {
           "/*" {
               mailbox = visual-mailbox
           }
        } 
      
        visual-mailbox {
          mailbox-type : "AkkaVisual.AkkaVisualMailboxType, AkkaVisual"
        }
      ]]>
    </hocon>
  </akka>
</configuration>